fastapi==0.139.0
uvicorn==0.51.0

pandas==3.0.3
numpy==2.5.1
scikit-learn==1.9.0
joblib==1.5.3

sqlalchemy==2.0.51

python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.32

transformers==4.57.6
torch==2.13.0
sentencepiece==0.2.2

vaderSentiment==3.3.2

celery==5.6.3
redis==8.0.1

requests==2.34.2